<a href="https://colab.research.google.com/github/j2nhyeok/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def myPower(n):
  '''숫자 n을 입력하면 n의 거듭제곱으로 반환'''
  result = n ** 2
  return result

In [ ]:
print(myPower(3))

9

In [ ]:
print(myPower.__doc__)

숫자 n을 입력하면 n의 거듭제곱으로 반환

In [ ]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
def read_csv(sep, header):
  '''
  Returns the sum of ~~~.

    Parameters:
      sep (str) : Character or regex pattern to treat as the delimiter.
      header (int) : Row number(s) containing column labels.

    Returns:
      c (int) : Sum of ~~
  '''
  c = sep + header
  return c

In [ ]:
print(read_csv.__doc__)

  Returns the sum of ~~~.

    Parameters:
      sep (str) : Character or regex pattern to treat as the delimiter.
      header (int) : Row number(s) containing column labels.

    Returns:
      c (int) : Sum of ~~